@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Ubuntu:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

/**Headers**/

.header {
    overflow: hidden;
    background-color: #4b4276;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    color: #ffffff;
}

.header a.active {
    color: white;
}

.header-right {
    float: right;
}


/* Header end*/

/* Footer start**/
.footer {

    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    background-color: #4b4276;
    color: #ffffff;
    text-align: center;

}

/*** Main Container ***/
.event-container {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 10px;
    padding: 10px;
}

.event-container h3 {
    background-color: #746c9a;
    color: #ffffff;
    padding: 7px;
}

.event-content {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
}

.event-content > div
{
    text-align: center;
}


.main-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
}

.main-container h3 {
    padding: 10px;
    background-color: #746c9a;
    color: #ffffff;
}

.load-more p
{
    text-align: center;
}

.load-more p img
{
    height: 25px;
    width: 25px;
}

/*** Index Page ***/

.message p {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

.sub-container {
    /* background-color: #E8E8E8; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    text-align: center;
}

.stage img {
    display: inline-block;
    margin-top: 5px;
    height: 20px;
    width: 20px;
}

.team {

    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    margin-left: 10px;
}

.team img {
    width: 60px;
    height: 60px;
}

.score {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    margin-left: 10px;
}

/*** About Me ***/
.about-main-container
{
    margin-top: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.img-container img
{
    height: 200px;
    width: 130px;
}
.content
{
    margin-left: 20px;
}

.content p{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin-bottom: -20px;
}

.content span
{
    color: #4b4276;
}

.content .dev{
    padding: 10px;
   font-family: 'Ubuntu', sans-serif;
   background-color: #726a9c;
   color: #ffffff;
}



/*** Error page ****/

.main {
    margin: 10px;
}

.main img {
    display: block;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    height: 270px;
    width: 220px;
}

.main p {
    color: red;
    text-align: center;
}