<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <!-- Fevicon -->
        <link rel="icon" type="image/png" href="../images/fevicon.png">
         <!-- Stylesheet -->
        <link rel="stylesheet" href="../stylesheets/style.css">


    </head>
    <body>
        <!-- Header-->
        {{>header}}

        <!-- Main Container -->
        <div class="about-main-container">
            
            <div class="content">
                <p>Hi ! I am <span>Shubham</span> </p>
                <p class="dev">The Developer</p>
            </div>
        </div>

        <!-- Footer -->
        {{>footer}}
        <!-- Javascripts -->
        <script rel="javascript" src="../javascript/app.js"></script>
    </body>
</html>