<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <!-- Fevicon -->
        <link rel="icon" type="image/png" href="../images/fevicon.png">
         <!-- Stylesheet -->
        <link rel="stylesheet" href="../stylesheets/style.css">


    </head>
    <body>
        <!-- Header-->
        {{>header}}
       
       <!-- Main Container --->
        <div class="main">
            <img src="../images/4042.gif">
            <p>{{msg}}</p>
        </div>

        <!-- Footer -->
        {{>footer}}
        <!-- Javascripts -->
        <script rel="javascript" src="../javascript/app.js"></script>
    </body>
</html>