name: sonarQube config env

on:
  push:
    branches:
      - main

jobs:
  sonarqube:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install SonarQube Scanner
      run: |
         npm install -g sonarqube-scanner
      
    - name: SonarQube Scan
      run: |
        sonar-scanner \
          -D"sonar.host.url=http://localhost:9000" \
          -D"sonar.login=sqp_d66ddb36826ffe7bc6a7a9dcdee95bad25d89b31" \
          -D"sonar.projectKey=sports"
