name: SonarQube report analysis and Quality gate

on:
  workflow_run:
    workflows: ["Cypress testcases"]
    types:
      - completed

jobs:
  sonarqube:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 14

    - name: Install dependency and run SonarQube Scanner
      run: |
        npm install -g sonarqube-scanner
        sonar-scanner \
          -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} \
          -Dsonar.login=${{ secrets.SONAR_LOGIN_TOKEN }} \
          -Dsonar.projectKey=QulityGateTest
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
<<<<<<< HEAD
       
    
=======
>>>>>>> 67271c019f5b0468c50cab2bbd32370bfd572a9f
