name: My Workflow

on:
  push:
    branches:
      - main

jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:
      - name: Use Secret in Workflow
        run: echo `My secret key ${{secrets.SONAR_TOKEN}}`
